<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerHost" value="127.0.0.1" />
    <add key="RemotingPort" value="9090" />
    <add key="StorageRoot" value="Storage" />
    <add key="LogDirectory" value="Storage/Logs" />
    <add key="MaxUploadSizeBytes" value="10485760" />
  </appSettings>
</configuration>
